body {
    background-color: rgb(200, 200, 200);
    padding-left: 10px;
}
h1 {
    background-color: DarkCyan;
    padding: inherit;
}
h2 {
    background-color: #ee3e80;
    padding: inherit;
}
p {
    background-color: white;
    padding: inherit;
}